

*{
    margin : 0 ; 
    padding : 0 ; 
 /*   border: 1px solid #c22a37;   */   
 }   


   @import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');




.header-wrap {
  position: relative;
  width: 100% ; 
 height : 114px ; 
}

.header-container {
  display: grid;
grid-template-columns: minmax(200px, 0.179fr) minmax(800px, 0.64fr) minmax(122px,0.12fr);
  grid-template-rows: 44px 70px;
  width : 100% ; 
  max-width: 1120px; 
  height: 114px;   
  margin : auto ; 
/*    border: 1px solid #c22a37;     */    
}




.util { 
  grid-column: 1/5; 
  grid-row: 1/2;
  height: 44px;  
/*    border: 1px solid #a61d1d;     */
  box-sizing: border-box;       
}   


.nav_bar {
grid-column: 2/3 ;
grid-row: 2/3 ; 
height: 70px;  
/* border: 2px solid #df2424;   */
line-height: 48px; 
align-items: end;
padding-top: 24px ; 
margin-left : 80px ; 
}  


.login { 
  grid-column: 3/4;
  grid-row: 2/3; 
/* border: 1px solid #d42929;     */
  padding : 32px ; 
}  

.ci { 
grid-row: 2/3; 
grid-column: 1/2 ;
height : 70px ; 
/* border: 1px solid #d42929;      */
padding-bottom: 0 ;
}

.ci img{
  width : 180px ; 
  height : auto ; 
padding-top: 34px ; 

}

.login .log{
  display : flex ; 
  flex-direction: column;
  font-size: 14px;
}

.login .log li:nth-child(2) {
  background-image: url(img/Search.png) ; 
}


img {
  height : 100%  ; 
  width : auto ; 
}

h3{
  font-size: 14px;
}

.nav_bar .ul{
  font-size : 14px ;  
}

ul{
  list-style: none; 
  color : #000 ;  
  padding-left : 0 ;     
}  


ul.dep1 {
  display : flex ; 
  position : relative ;   
  color : black ; 
  width : 700px ;    
  z-index: 10000;
} 


.depth1, .depth2, .depth3, dl, dd {
  font-size: 14px ;
  }


ul.dep1>li.depth1 {
  position : relative ; 
  width : 110px ;  
  font-size : 16px ;    
}      

ul.dep2 {
  display: flex;
  position: relative ;          
  width: 830px;
line-height: 36px ;  
  color : rgb(26, 25, 25) ;     
}


ul.dep2 > li.depth2 {
line-height: 36px ;
  font-size: 16px; 
  position: relative; /* dep3의 기준점 */          
} 

ul.dep2 > li.depth2:nth-child(1) {
  width : 320px ; 
}

ul.dep2 > li.depth2:nth-child(2) {
  width : 300px ;   
}

ul.dep2 > li.depth2:nth-child(3) {
  width : 250px ;    
  text-align: center;
}

ul.dep2 > li.depth2:nth-child(4) {
  width : 200px ;   
  text-align: center;
}



ul.dep3 {
  display: flex ;  
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px; 

  padding: 0;
  margin : 0 12px 0 0 ; }  




dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 0 ; 
  margin: 0;
  padding: 0 ; 
  max-width : 260px ; 
}

dl, dd{
  gap : 0 0 ; 
}

ul.dep2,
ul.dep3 {
  display: none;
}



 ul.dep3 > li.depth3 {
  height: 40px;
  display: flex; 
  line-height: 20px;   
  font-size: 16px; 
  color: black  ; }





.w100 {
  position: fixed;
  left: 50%;
  top: 114px; /* nav_bar 하단에 맞게 조정 */
  width: 100vw;
  height: 0;
  background: #b2d1b9;
  z-index: 1000 ; 
  transition: height 0.3s;
  transform: translateX(-50%);  
}

ul.dep2, ul.dep3 { display: none; }
ul.dep1 > li.depth1:hover > ul.dep2 { display: flex; }
ul.dep1 > li.depth1:hover ul.dep3 { display: flex; flex-direction: column; }

ul.dep1:hover ~ .w100,
ul.dep1:focus-within ~ .w100 {
  height: 400px; /* 원하는 드롭다운 높이 */ 
}







     .swiper { 
      position: absolute;
      width : 100% ;       
      max-width : 2100px ;      
      height : 1080px ;  
      margin: auto ;
      padding-top : 70px ;    
          

    } 


    .swiper-wrapper{
         margin-left : 180px ;       
        width : 100% ; 
        max-width : 1920px ;      
    }

 
    .prev_box{
        width : 180px ; 
        height : 1080px ;  
         background: green;
/*         transform: translateX(-180px);   */
        /*  position: absolute; */
    }  

    .prev01, .prev02, .prev03{
      width : 2100px ; 
      height : 1080px ;  
      transform : translateX(-2100px) ; 
    }


 

    .swiper-slide {
      text-align: center;
      font-size: 18px;    
      justify-content: center;
      align-items: center; 
    }



 .main-container {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 100px; 
  box-sizing: border-box;     
  z-index: 1;  
/*   border: 1px red solid ; 
 */  padding-top : 300px  ; 
}



 .shopping_now{ 
  width : 100% ; 
  max-width : 1280px ; 
  height : auto ; 
/*   border : 1px red solid ;   
 */  text-align: center;  
  margin: auto ; 

 }

.title {
  position: relative;
  width: 1280px;
  height: 60px;  
  margin : auto ; 
}


.desc {
  position: relative;
  width: 1280px;
  height: 60px;
  margin : auto ;  
/*   border: 1px solid #dc3c3c;
 */  z-index: 11;
  overflow: hidden;
}
.more-info-style {
  position: relative;
  width: 126px;
  height: 45px;
  margin : auto ; 
/*   border: 10px solid #181515;
 */  z-index: 12;
  overflow: hidden;
}


.shin_now{
  width : 100% ; 
  max-width : 1280px ; 
  height : auto ; 
/*   border : 1px red solid ;   
 */  text-align: center;  
  margin: 160px auto ;  
}



.title-gallery {
  position: relative;
  width: 1280px;
  height: 60px; 
  margin : auto ; 
/*   border: 1px solid #000000;
 */  z-index: 14;
  overflow: hidden;
}

.gal-swiper{
  position: relative;
  width: 1280px;
  height: 344px; 
  margin : 160px auto ; 
  z-index: 18; 
}


.image-box {
  position: absolute;
  width: 232px;
  height: 336px;
  top: 0;
  left: 0;
  background: #8b7878;
/*   border: 1px solid #aa1d1d;
 */  z-index: 15;
  overflow: hidden;
}
.image-box-3 {
  position: absolute;
  width: 232px;
  height: 336px;
  top: 8px;
  left: 350px;
  background: #8c7979;
  border: 1px solid #8c7979;
  z-index: 16;
  overflow: hidden;
}
.image-box-4 {
  position: absolute;
  width: 232px;
  height: 336px;
  top: 8px;
  left: 692px;
  background: #8c7979;
  border: 1px solid #8c7979;
  z-index: 17;
  overflow: hidden;
}
.image-box-5 {
  position: absolute;
  width: 232px;
  height: 336px;
  top: 8px;
  left: 1048px;
  background: #8c7979;
  border: 1px solid #aa1d1d;
  z-index: 18;
  overflow: hidden;
}


.desc-6 {
  position: relative;
  width: 683px;
  height: 20px;  
    margin : auto ; 
  border: 1px solid #a92b2b;
  z-index: 19;
  overflow: hidden;
}


.desc-7 {
  position: relative;
  width: 683px;
  height: 20px;
    margin : auto ; 
  border: 1px solid #a92b2b;
  z-index: 20;
  overflow: hidden;
}


.sns-icons {
  position: relative;
  width: 683px;
  height: 20px;
  margin : auto ; 
  border: 1px solid #a92b2b;
  z-index: 21;
  overflow: hidden;
}


.art_culture{
  margin : auto ;  
}



.art_box {
  position: relative;
  width: 3929px;
  height: 720px;
  margin : auto ;  
  z-index: 29;
} 
.playbox {
  position: absolute;
  width: 2000px;
  height: 480px;
  top: 0;
  left: 0;
  background: #786363;
  border: 1px solid #b53434;
  z-index: 24;
  overflow: hidden;
}
.image {
  position: absolute;
  width: 510px;
  height: 530px;
  top: 168px;
  left: 2279px;
  background: #786363;
  border: 1px solid #b53434;
  z-index: 27;
  overflow: hidden;
}
.imageboc {
  position: absolute;
  width: 510px;
  height: 530px;
  top: 168px;
  left: 2815px;
  background: #786363;
  border: 1px solid #b53434;
  z-index: 26;
  overflow: hidden;
}
.image-8 {
  position: absolute;
  width: 510px;
  height: 530px;
  top: 173px;
  left: 1743px;
  background: #786363;
  border: 1px solid #786363;
  z-index: 25;
  overflow: hidden;
}
.imagebox {
  position: absolute;
  width: 569px;
  height: 480px;
  top: 240px;
  left: 3076px;
  background: #786363;
  border: 1px solid #b53434;
  z-index: 29;
  overflow: hidden;
}
.image-9 {
  position: absolute;
  width: 569px;
  height: 480px;
  top: 240px;
  left: 3360px;
  background: #786363;
  border: 1px solid #b53434;
  z-index: 28;
  overflow: hidden;
} 

.brand{
  width : 100% ; 
  max-width : 1280px ; 
  margin : 200px auto ;  
  border: 1px solid red; 
  text-align : center ;      
}



.title-a {
  position: relative;
  width: 1020px;
  height: 60px;
  border: 5px solid #211e1e;
  z-index: 31;
    margin : auto ;

}
.action-bar {
  position: relative;
  width: 1280px;
  height: 60px;
  border: 5px solid #211e1e;
  z-index: 32;
    margin : auto ;

}


.gallery-box {
  position: relative;
  width: 1020px;
  height: 1122px;
  border: 2px solid #b51414;
  z-index: 33;
    margin : auto ;

}
.more-info-style-b {
  position: relative;
  width: 126px;
  height: 45px;
  margin : auto ;
  border: 10px solid #181515;
  z-index: 34;
  overflow: hidden;
}



.magazin{ 
    width : 100% ; 
  max-width : 1280px ; 
  margin : 200px auto ;  
  border: 1px solid red; 
  text-align : center ;    


}


.title-c {
  position: relative;
  width: 1120px;
  height: 60px;
  margin: auto;
  border: 5px solid #211e1e;
  z-index: 36;  
}


.magazin-box {
  position: relative;
  width: 1120px;
  height: 3000px ; 
   margin: auto;
  border: 2px solid #bc1d1d;
  z-index: 37; 
}





   .banner-anim {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  object-fit: cover;
   transition: width 1s cubic-bezier(0.4,0,0.2,1);
  display: inline-block;
  vertical-align: top;
}


